body {
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    transition: background-color 0.4s ease;
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: black;
    font-size: 64px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: auto;
}

h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: italic;
    color: black;
    font-size: 36px;
    margin: auto;
    text-align: center;
}

h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: black;
    font-size: 36px;
    margin-top: auto;
    text-align: center;
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 24px;
    margin: auto;
}

.mainContainer {
    background-color: white;
    width: 40%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4%;
    margin: 2em 0;
}

.mainContainer p {
    text-align: center;
}

.imageRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.avatarImage {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.linkIcon img {
    width: 36px;
    height: 36px;
    transition: transform 0.2s ease-in-out;
}

.linkIcon:hover img {
    transform: scale(1.15);
}

.experienceText {
    margin-top: 4%;
    float: left;
    /* justify-content: space-between;  */
}

.experienceText h2 {
    text-align: left;
}

.experienceText p {
    text-align: left;
}

.experienceText2 {
    margin-top: 4%;
    float: right;
    /* justify-content: space-between;  */
}

.experienceText2 h2 {
    text-align: right;
}

.experienceText2 p {
    text-align: right;
}

input[type=text],
input[type=email] {
    width: 75%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
}

label {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 24px;
    width: 75%;
    box-sizing: border-box;
}

textarea {
    width: 75%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: block;
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type=submit] {
    width: 75%;
    background-color: darkgrey;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: grey;
    font-style: italic;
}

.homeButton {
    width: 75%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}

.homeButton a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.homeButton:hover {
    background-color: #09585980;
    color: white;
    font-style: italic;
}


@media screen and (max-width: 768px) {
    .mainContainer {
        width: 95%;
    }
}